body {
  background-color: #020118;
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 100px;
  font-weight: 100;
}

#addInput {
  width: 300px;
  height: 35px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#removeButton {
  cursor: pointer;
}

#addButton,
#clearCompletedButton {
  border: none;
  height: 35px;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 17px;
  color: white;
  font-weight: 700;
  background-color: #DB4947;
  cursor: pointer;
}

#addButton {
  width: 100px;
}

#clearCompletedButton {
  width: 160px;
  margin-left: 30px;
}

#todoFooter,
#todoList,
form {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#todoList button {
  border: none;
  color: #DB4947;
  font-weight: 800;
  background: none;
  position: absolute;
  right: 10px;
}

@media screen and (max-width: 555px) {
  #addInput {
    width: 170px;
  }

  #addButton {
    width: 70px;
  }

  h1 {
    font-size: 50px;
  }

  #clearCompletedButton {
    height: 50px;
  }
}